@page
@model LivrariaApp.Pages.ContinentesModel
@{
}


<!DOCTYPE html>
<html>
    <head>   

    <title>Continentes</title></head>

    <body>

        <div>   

        <table>       
        <tr> 
        <th>Id</th> 
        <th>Nome</th>
        <th>Continente</th>

        </tr>      

            @foreach (var item in Model.ContinenteList)
            {


                          <tr>
                        <!-- Formulário vai servir para trocar informação com o servidor.
                            method="Post" esconde os dados e envia para o servidor
                        -->
                        <form method="Post">
                            <td>
                                <!-- O id aparece na tabela contudo não permitir a sua edição e por escondemos com type="hidden".
                                Para enviar dados para o servidor eles precisam de duas coisas: 
                                Estar dentro de um <form></form> e serem do tipo <input>
                                -->
                        @Html.DisplayFor(modelItem => item.Id)

                                <input type="hidden" name="id" id="id_Id" value="@Html.DisplayFor(modelItem => item.Id)"/>
                            </td>
                            <td>
                                <!-- input de texto permite alterar o que está na base de dados -->
                                <input type="text" name="nome" id="nome_Id" value="@Html.DisplayFor(modelItem => item.Nome)" placeholder="Insira o nome.."/>
                            </td>
                            
                            <td>
                                <!-- É botão que submete o formulário para o servidor-->
                                <input type="submit" value="Gravar"/>
                            </td>
                        </form>

                    </tr>


            }
    </table>
    </div>
    </body>
    </html>